<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Hot Products List</title>
    <style>
        .top-list {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
            border-radius: 10px;
            padding: 20px;
            background-color: rgba(225, 225, 225, 0.9);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }

        .top-list .list-group-item {
            background-color: rgba(181, 181, 181, 0.369);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
            border: none;
            margin-bottom: 10px;
        }

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }

        .center-title {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 2em;
            color: #333;
        }

        .sticky-header {
            position: sticky;
            top: 0;
            z-index: 1000;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .nav-link.active {
            color: #0d6efd;
        }

        .card img {
            height: 229px;
            width: 247px;
            object-fit: cover;
            transition: transform 0.3s ease;
        }

        .card {
            display: block ruby;
            width: 890px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            overflow: hidden;
            border-radius: 10px;
        }

        .card:hover {
            transform: translateY(-10px) scale(1.03);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
        }

        .btn {
            margin-right: 20px;
        }

    </style>
</head>

<body>
    <header class="sticky-header">
        <div class="container-fluid bg-light py-3">
            <div class="container d-flex justify-content-between align-items-center">
                <h1 class="h4 mb-0">
                    <a href="/" class="text-decoration-none text-dark">E-Shop</a>
                </h1>
                <nav class="nav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="/scoreboard">BXH</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <% if (!user) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Đăng nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Đăng ký</a>
                            </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/cart">Giỏ hàng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/product/add">Tạo sản phẩm</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#"
                                    id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <% if (user.avatar) { %>
                                        <img src="<%= user.avatar %>" class="avatar me-2" alt="">
                                    <% } else { %>
                                        <img src="./img/def.jpg" class="avatar me-2" alt="">
                                    <% } %>
                                    <span>
                                        <%= user.name %>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li><a class="dropdown-item" href="/user/<%= user.id %>">Profile</a></li>
                                    <li><a class="dropdown-item" href="/settings">Cài đặt</a></li>
                                    <li><a class="dropdown-item">Balanced: <%= user.balance %> VNĐ</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                                </ul>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <h1 class="center-title">TOP SALE ITEMS</h1>
    <div class="top-list mt-4">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto" style="margin: 0px;">
                    <% products.forEach(product =>{ %>
                    <div class="fw-bold"><h3>Top <%= product.index %></h3></div>
                    <div class="col">
                        <div class="card product-card" style="position: relative;">        
                            <a href="/product/<%= product.id %>">
                                <img src="/uploads/<%= product.image %>" class="card-img-top" alt="">
                            </a>
                        
                            <div class="card-body">
                                <h4 class="card-title">
                                    <%= product.name %>
                                </h4>
                                <p class="card-text">Giá: <%= product.saleval %> VND</p>
                                
                                <div class="d-flex mt-3">
                                    <a href="/product/<%= product.id %>" class="btn btn-success rounded">Thông tin sản phẩm</a>
                                    <button type="button" class="btn btn-primary rounded addToCartBtn" data-product-id="<%= product.id %>">Thêm vào giỏ</button>
                                </div>
                            </div>
                            <div>
                                <p class="card-text">Ngày tạo: <%= product.formatted_date %></p>
                                <p>Creator: <%= product.creator %></p>
                            </div>
                            <span class="badge bg-primary rounded-pill" style="position: absolute; top: 10px; right: 10px;"><%= product.sold %></span>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>
